body{
	 background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/pic3.jpg);
	   background-repeat: no-repeat;
	   background-size: cover;
   height: 120vh;
}
.login-page{

    width: 360px;
	padding: 10% 40% 0;
	margin: auto;




}
.login-form{

position: relative;
	background:rgba(0.8,0.8,0.8,0.8);
	margin: auto;
	z-index: 1;
	text-align: center;
	max-width: 360px;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	border-radius: 25px;



}
.login-form input{
	font-family: cursive;
	outline: 1;
	background-color: #c2d6d6;
	padding: 10px;
	width: 80%;
	margin: 0 0 15px;
	border-radius: 15px;
	}

	.login-form button{
	font-family: "Comic Sans MS", cursive, sans-serif;
	border-radius: 12px;
	color: black;
    border: 2px solid black;
    font-size: 15px;
    width: 80%;
    height: 30%;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
}



.home{
        	float: left;
        	padding-left: 10px;
        	margin-top: 7px;
        	
        }
        .login{
        	float: right;
        	padding-right: 20px;

        }
        a{
        	font-family: cursive;
        	text-decoration: none;
        	font-size: 30px;
        	color:#99ff33;

        }
        .msg{
        	color: red;
        }