.table
		{
			position: relative;
	margin: auto;
	z-index: 1;
	text-align: center;
	max-width: 1000px;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 40px;
	padding-bottom: 30px;
	border-radius: 25px;
	margin-left: 300px;
	color: black;
	font-family: cursive;

		}
		.table1,tr,td{
			padding: 15px;
		}
		#msg{
			
				margin-top: 30px;
	
	margin-left: 500px;
		}
		tr,td{
			color:  #ccffcc;
			font-size: 28px;
		}
		a{
			text-decoration: none;
		}
		.button{
			font-family: cursive;
			font-size: 25px;
			border-radius: 12px;
		}
.form{
	position: relative;
	background:rgba(0.8,0.8,0.8,0.8);
	margin: auto;
	z-index: 1;
	text-align: center;
	max-width: 400px;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 60px;
	padding-bottom: 30px;
	border-radius: 25px;
	margin-left: 12%;

}
.form input{
	font-family: cursive;
	outline: 1;
	background-color: #c2d6d6;
	padding: 10px;
	width: 40%;
	margin: 0 5px 40px;
	border-radius: 15px;
}
.form button{
	font-family: "Comic Sans MS", cursive, sans-serif;
	border-radius: 12px;
	color: black;
    border: 2px solid black;
    font-size: 15px;
    width: 80%;
    height: 20%;
    padding: 8px;
    cursor: pointer;
}
.home{
			float: right;
			font-family: "Comic Sans MS", cursive, sans-serif;
	border-radius: 12px;
    border: 2px solid black;
    font-size: 15px;
    width: 10%;
    
    padding: 8px;
    cursor: pointer;
   
		}
		body{
			background: #00997a;
		}
		.form1{
	position: relative;
	background:rgba(0.8,0.8,0.8,0.8);
	margin: auto;
	z-index: 1;
	text-align: center;
	max-width: 400px;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 60px;
	padding-bottom: 30px;
	border-radius: 25px;
	margin-left: 35%;

}
.form1 input{
	font-family: cursive;
	outline: 1;
	background-color: #c2d6d6;
	padding: 10px;
	width: 40%;
	margin: 0 5px 40px;
	border-radius: 15px;
}
.form1 button{
	font-family: "Comic Sans MS", cursive, sans-serif;
	border-radius: 12px;
	color: black;
    border: 2px solid black;
    font-size: 15px;
    width: 80%;
    height: 20%;
    padding: 8px;
    cursor: pointer;
}